<h1>ゾンビ一覧</h1>

  <% if @zombies.present? %>
    <% @zombies.each do |zombie| %>
      <%= link_to zombie.name, zombie_path(zombie) %>
        <span>お気に入り</span>
          (<%= zombie.favorites.length %>)
        </div>
      <%= zombie.body %>
      <%= attachment_image_tag zombie, :image, :fill, 200, 200, format: 'jpeg' %>
      <br>
    <% end %>
  <% end %>